*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background: rgb(0, 0, 0);
    color: rgba(12, 12, 117, 0.133);
    line-height: 1.6;
}
header{
    background: rgb(0, 0, 0);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(51, 255, 0);
}
header h1{
    color:rgb(51, 255, 0)
}
nav a{
    color:#e0e0e0;
    margin-left: 1.5rem;
    text-decoration: rgb(255, 0, 0);
    font-weight: 500;
    font-size: large;
}
nav a:hover, nav a.active{
    color:rgb(255, 0, 0);
}
main{
    padding: 2rem;
    max-width: 1200px;
    margin:0 auto;
}
footer{
    text-align: center;
    padding: 1.5rem;
    background:rgba(16, 16, 78, 0.133);
    color: #ffffff;
    margin-top: 2rem;
}