*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background-color: rgba(16, 16, 78, 0.133);
    color: #e0e0e0;
    line-height: 1.6   ;
}
header{
    background-color: rgba(16, 16, 78, 0.133);
    pad: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #6a5a;
}
header h1{
    color:#6a5a
}
nav a{
    color:#e0e0e0;
    margin-left: 1.5rem;
    text-decoration: #6a5a;
    font-weight: 500;
}